<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h5><span>监控告警明细：</span></h5>
<table  border="1" cellpadding="3" style="border-collapse:collapse; width:80%;">
    <thead style="font-weight: bold;color: #ffffff;background-color: #00b5c7;">
    <tr>
        <td width="15%">执行器</td>
        <td width="10%">任务ID</td>
        <td width="20%">任务描述</td>
        <td width="15%">告警类型</td>
        <td width="40%">告警内容</td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>{0}</td>
        <td>{1}</td>
        <td>{2}</td>
        <td>调度失败</td>
        <td>{3}</td>
    </tr>
    </tbody>
</table>
</body>
</html>
